<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data>
    <!-- Root Menu -->
    <menuitem id="menu_education_root" name="Education" sequence="10"/>

    <!-- Child Menus -->
    <menuitem id="menu_student" name="Students" parent="menu_education_root" action="action_student" sequence="1"/>
    <menuitem id="menu_course" name="Courses Taken" parent="menu_education_root" action="action_course_taken" sequence="2"/>
    <menuitem id="menu_fee" name="Fee Payments" parent="menu_education_root" action="action_fee_payment" sequence="3"/>
  </data>
</odoo>